<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @temporada.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @temporada.year %>
</p>

<%= link_to 'Edit', edit_temporada_path(@temporada) %> |
<%= link_to 'Back', temporadas_path %>
